/***************** Imports *******************/
@import url('https://fonts.googleapis.com/css2?family=Sigmar&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

/***************** Variables *******************/
:root {
	/* Colors */
	--black-color-00: #000000;

	--facebook-color: #1f7bf2;
	--twiter-x-color: #080808;
	--google-plus-color: #e05038;

	--btn-color: #51d397;

	--text--color: #979797;

	--bg-color: #efefef;

	--white-color-00: #ffffff;

	/* Font-Family */
	--title-ff: 'Sigmar', sans-serif;
	--text-ff: 'Montserrat', sans-serif;

	/* Font Weight */
	--normal-fw: 400;
	--medium-fw: 500;

	/* Font Size */
	--base-fs: 1rem;
	--lg-fs: 1.25rem;
	--xl-fs: 1.85rem;

	/* Border Radius */
	--btn-radius: 0.35rem;
	--form-radius: 0.35rem;

	/* Width */
	--container-mw: 1280px;

	/* Padding */
	--container-pi: 0.85rem;
}

/***************** General *******************/
* {
	padding: 0;
	margin: 0;
	box-sizing: border-box;
	font-family: var(--text-ff);
	font-weight: var(--normal-fw);
}

html,
body {
	scroll-behavior: smooth;
}

body {
	background-color: var(--bg-color);
}

:is(h1, h2, h3, h4, h5, h6) {
	font-family: var(--title-ff);
	font-weight: var(--normal-fw);
}

a {
	text-decoration: none;
}

button,
input {
	border: none;
	outline: none;
	font-size: var(--base-fs);
	background-color: transparent;
}

/***************** Reusable *******************/
.container {
	max-width: var(--container-mw);
	padding-inline: var(--container-pi);
	margin: 0 auto;
}

/***************** CONTENT *******************/
#content {
	min-height: 100vh;
	display: flex;
	justify-content: center;
	align-items: center;
}

/***************** FORM *******************/
#form {
	background-color: var(--white-color-00);
	display: flex;
	align-items: center;
	position: relative;
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	border-radius: var(--form-radius);
}

.form-area {
	display: flex;
	flex-direction: column;
	padding: 2rem;
}

/***************** SIGN UP *******************/
/* TODO: Create SIGN UP style */
/************** End of SIGN UP ***************/

/***************** FORM BETWEEN *******************/
#form-between {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
	background-color: var(--bg-color);
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	padding: 0.85rem;
	height: 40px;
	width: 40px;
	font-weight: var(--medium-fw);
}
/************** End of FORM BETWEEN ***************/

/***************** SIGN IN *******************/
/* TODO: Create SIGN IN style */
/************** End of SIGN IN ***************/

/************** End of FORM ***************/

/************** End of CONTENT ***************/
